
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>






{{!-- {{#if alert}}
<script>
swal.fire('success','{{alert}}','success');
</script>
{{/if}}  --}}


<form class="row g-3 needs-validation" method="post" action="/home" encType="multipart/form-data">

{{!-- <form  action='/home' mthod='POST' encType="multipart/form-data"> --}}

    {{>signupform}}
</form>